<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/data/mongo 	     
	     http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
	     http://www.springframework.org/schema/context 
	     http://www.springframework.org/schema/context/spring-context.xsd
		 http://www.springframework.org/schema/beans
		 http://www.springframework.org/schema/beans/spring-beans.xsd">



	<context:property-placeholder location="classpath:mongo.properties" />
	
	<mongo:mongo-client id="mongoClient" host="${mongo.host}"
		port="${mongo.port}">
		<mongo:client-options connect-timeout="${mongo.connectTimeout}"
			connections-per-host="${mongo.connectionsPerHost}" max-wait-time="${mongo.maxWaitTime}"
			socket-keep-alive="${mongo.socketKeepAlive}" socket-timeout="${mongo.socketTimeout}"
			threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}" />
	</mongo:mongo-client>
   <!--  mongo 2.6建议使用 mongoclient -->
<!-- 	<mongo:mongo id="mongo" host="${mongo.host}" port="${mongo.port}">
		<mongo:options connections-per-host="${mongo.connectionsPerHost}"
			threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"
			connect-timeout="${mongo.connectTimeout}" max-wait-time="${mongo.maxWaitTime}"
			auto-connect-retry="${mongo.autoConnectRetry}" socket-keep-alive="${mongo.socketKeepAlive}"
			socket-timeout="${mongo.socketTimeout}" slave-ok="${mongo.slaveOk}"
			write-number="1" write-timeout="0" write-fsync="true" />
	</mongo:mongo> -->

	<mongo:db-factory id="mongoDbFactory" dbname="SKU"
		mongo-ref="mongoClient" />
	<!-- 自增id库 -->
	<mongo:db-factory id="mongoDbFactoryIDS" dbname="IDS"
		mongo-ref="mongoClient" />
	<!-- 自定义实体转换 -->
	<mongo:mapping-converter id="mongoConverter"
		type-mapper-ref="customMongoTypeMapper">
	</mongo:mapping-converter>

	<!-- 实体类映射 -->
	<bean name="customMongoTypeMapper" class="cn.com.CustomMongoTypeMapper" />
	<!-- <mongo:mapping-converter id="mongoConverter" base-package="cn.com"> 
		<mongo:custom-converters base-package="cn.com" /> </mongo:mapping-converter> -->

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongoDbFactory" />
		<constructor-arg ref="mongoConverter" />
	</bean>
	<!-- 自增id模板操作 -->
	<bean id="mongoTemplateIDS" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongoDbFactoryIDS" />
		<constructor-arg ref="mongoConverter" />
	</bean>
	<!-- 继承 * Repository 否则自定义bean实现 -->
	<bean id="aISequenceRepository" class="cn.com.dao.AISequenceRepositoryImpl"></bean>
	
	<!-- mongodb bean的仓库目录，会自动扫描扩展了MongoRepository接口的接口进行注入 -->
	<mongo:repositories base-package="cn.com.dao" />

</beans>